@import "tailwindcss";
@plugin "daisyui";

body {
  background: var(--background);
  color: var(--foreground);
  color: #0a0a0a;
}

input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000; /* สีตัวอักษรที่กรอก */
}

 {
  /* ใช้แบบนี้สำหรับ td ทั่วไป */
}
<td className="text-black font-normal text-sm p-2" / > {
  /* หรือเพิ่มในไฟล์ CSS / Tailwind config ก็ได้ */
}
.table-cell-style {
  @apply text-black font-normal text-sm p-2;
}

.action-button {
  @apply p-2 rounded-md bg-gray-200 hover:bg-amber-300  transition-all cursor-pointer;
}
.action-button-del {
  @apply p-2 rounded-md bg-gray-200 hover:bg-red-300  transition-all cursor-pointer;
}
.action-button-add {
  @apply p-2 rounded-md bg-gray-200 hover:bg-blue-300  transition-all cursor-pointer;
}
