@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* :root {
  --background: #ffffff;
  --foreground: #171717;z
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #0a0a0a;
  font-family: "Noto Sans", sans-serif;
}

input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000; /* สีตัวอักษรที่กรอก */
}

 {
  /* ใช้แบบนี้สำหรับ td ทั่วไป */
}
<td className="text-black font-normal text-sm p-2" / > {
  /* หรือเพิ่มในไฟล์ CSS / Tailwind config ก็ได้ */
}
.table-cell-style {
  @apply text-black font-normal text-sm p-2;
}

.action-button {
  @apply p-2 rounded-md bg-gray-200 hover:bg-amber-300  transition-all cursor-pointer;
}
.action-button-del {
  @apply p-2 rounded-md bg-gray-200 hover:bg-red-300  transition-all cursor-pointer;
}

